@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-section {
    color: #222;
    background: #fff;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-image: url('/img/bg-1-gb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.body-section-ty {
    color: #222;
    background: #fff;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-image: url('/img/bg-ty-gb.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image {
    height: 100vh;
    background-image: url('/custom-bg-thanks.png');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.brand-name a {
    /* position: relative; */
    text-decoration: none;
    display: flex;
    justify-content: center;
    top: 1rem;
    left: 50%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}
.cta-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    
    margin: .5rem auto;
    width: 95%;
    max-width: 680px;

    /* background-color: #efefef; */
    line-height: 1.5;
    text-align: center;
    background: rgba(249, 249, 249, 0.5);
    box-shadow: 5px 5px 10px #0000001b;
    border-radius: 20px;
}

/* details */
span.cta-keyword {
    text-transform: uppercase;
    font-weight: bold;
    color: #ff4f4f;
}
.cta-keyword-ty {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
}
.cta-one-head {
    font-size: 2rem ;
    text-transform: uppercase;
    color: #fff;
}
.cta-one-message-1 {
    margin: 1rem 0;
    color: #fff;
    font-size: 1.8rem;
}
.form-section i {
    font-size: 6.5rem;
    
    /* Gradient Background for Icon */
    background: linear-gradient(to right, #82ACFF, #78DFFF 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}
.form-icon {
    background: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem auto;
}
.cta-final {
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 70%;
    margin: auto;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#form-content {
    background: rgba(255, 255, 255, 0.099);
    box-shadow: 5px 5px 10px #0000002a;
    border-radius: 10px;
    margin-top: 1.2rem;
    padding: 1rem;
    color: #222;
}
/* Styles For Form */
input[type="text"],
input[type="email"]
{
    margin-top: 1rem;
    padding: 10px;
    width: 90%;
    margin: .5rem  auto;
    border: none;
    font-size: 1.3rem;
    text-align: center;
    background: none;
    color: #fff;
    border-bottom: 2px solid #fff;
}
::placeholder {
    color: #fff;
}
.btn {
    display: inline-block;
    width: 50%;
    height: 3rem;
    padding: 0.5rem 1.2rem;
    margin-top: 1rem;
    margin: 1rem auto;
    border: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;
    color: #fff;
    
    
    transition: .35s ease-in-out;
    background-size: 200% auto;
}
/*  */
/*  */
.btn:hover {
    background-position: right center; 
    /* transform: scale(1.05); */
    box-shadow: 2px 2px 5px #00000020;
  }
  .btn {
    background-image: linear-gradient(to right, #82ACFF 0%, #0088ff 51%, #78DFFF 100%);
  }
  
/*  */
/*  */




.cta-keyword.key-ty {
    color: #82ACFF;
    font-size: 1.2rem;
}
.footer-section { 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
@media (max-width: 650px){
    .footer-section{
        display: flex;
        justify-content: center;
        gap: .5rem;
        align-items: center;
    }
}
.cta-one-message-foot {
    margin: 1rem 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
.cta-section-ty {
    top: 35%;
}
.moving:before {
content: attr(data-hover);
font-size: 2rem;
}

.moving {
animation: wave-animation 1s infinite;
}
    
@keyframes wave-animation {
    0% {
        transform: translate(0);
        }
    50% {
        transform: translateY(5px);
        }
    100% {
        transform: translate(0);
        }
}